@page
@model _2244TeslaModel
@{
}
<h1>2244 Tesla</h1>
<a href="https://en.wikipedia.org/wiki/2244_Tesla">https://en.wikipedia.org/wiki/2244_Tesla</a>
<hr />


<!DOCTYPE html>
<html lang="en">
   <meta charset="UTF-8"/>
   <title>2244 Tesla - Wikipedia</title>
   <body>
      <h1>2244 Tesla</h1>
      <div>From Wikipedia, the free encyclopedia</div>
      <br/>
      <table>
         <tbody>
            <tr>
               <th colspan="2" style="text-align:center;">Discovery</th>
            </tr>
            <tr>
               <th>Discovered by</th>
               <td>
                  M. B. Protić
               </td>
            </tr>
            <tr>
               <th>Discovery site</th>
               <td>Belgrade Obs.</td>
            </tr>
            <tr>
               <th>Discovery date</th>
               <td>22 October 1952</td>
            </tr>
            <tr>
               <th colspan="2"  style="text-align:center;">Designations</th>
            </tr>
            <tr>
               <th>MPC designation</th>
               <td>(2244) Tesla</td>
            </tr>
            <tr>
               <th>
                  Named after
               </th>
               <td>
                  Nikola Tesla
                  <br />
                  (Serbian inventor)
               </td>
            </tr>
            <tr>
               <th>
                  Alternative designations
               </th>
               <td>
                  1952 UW1 · 1938 UE1 <br/>
                  1938 WE · 1949 AA <br/>
                  1966 UB · 1976 YR3 <br/>
                  1980 SV · 1980 TJ15 <br/>
               </td>
            </tr>
            <tr>
               <th>
                  Minor planet category
               </th>
               <td>main-belt(middle)
               </td>
            </tr>
            <tr>
               <th colspan="2"  style="text-align:center;">Orbital characteristics</th>
            </tr>
            <tr>
               <td colspan="2">
                  Epoch 4 September 2017 (JD 2458000.5)
               </td>
            </tr>
            <tr>
               <td colspan="2" >Uncertainty parameter 0
               </td>
            </tr>
            <tr>
               <th>Observation arc</th>
               <td>
                  64.62 yr (23,602 days)
               </td>
            </tr>
            <tr>
               <th>Aphelion</th>
               <td>
                  3.3186 AU
               </td>
            </tr>
            <tr>
               <th>Perihelion</th>
               <td>
                  2.3020 AU
               </td>
            </tr>
            <tr>
               <th>Semi-major axis</th>
               <td>
                  2.8103 AU
               </td>
            </tr>
            <tr>
               <th>Eccentricity</th>
               <td>
                  0.1809
               </td>
            </tr>
            <tr>
               <th>
                  Orbital period
               </th>
               <td>
                  4.71 yr (1,721 days)
               </td>
            </tr>
            <tr>
               <th>
                  Mean anomaly
               </th>
               <td>
                  260.21 °
               </td>
            </tr>
            <tr>
               <th>
                  Mean motion
               </th>
               <td>
                  0° 12 33.12 / day
               </td>
            </tr>
            <tr>
               <th>Inclination</th>
               <td>
                  7.8234°
               </td>
            </tr>
            <tr>
               <th>
                  Longitude of ascending node
               </th>
               <td>
                  106.49°
               </td>
            </tr>
            <tr>
               <th>
                  Argument of perihelion
               </th>
               <td>
                  297.81°
               </td>
            </tr>
            <tr>
               <th colspan="2"  style="text-align:center;">Physical characteristics</th>
            </tr>
            <tr>
               <th>Dimensions</th>
               <td>
                  24.377 ± 0.030 km<br/>29 km
               </td>
            </tr>
            <tr>
               <th>
                  Geometric albedo
               </th>
               <td>
                  0.050 ± 0.003
               </td>
            </tr>
            <tr>
               <th>
                  Spectral type
               </th>
               <td>
                  SMASS  = C
               </td>
            </tr>
            <tr>
               <th>
                  Absolute magnitude <i>(H)</i>
               </th>
               <td>
                  11.9
               </td>
            </tr>
         </tbody>
      </table>
      <br/>
      <p><b>2244 Tesla</b>, provisional designation 1952 UW, is a carbonaceous <a href="https://en.wikipedia.org/wiki/Asteroid" title="Asteroid">asteroid</a> from the central region of the <a href="https://en.wikipedia.org/wiki/Asteroid_belt">asteroid belt</a>, approximately 25 kilometers in diameter. It was discovered on 22 October 1952, by Serbian astronomer <a href="https://en.wikipedia.org/wiki/Milorad_Proti%C4%87" >Milorad Protić</a> at the <a href="https://en.wikipedia.org/wiki/Belgrade_Observatory" >Belgrade Observatory</a>, then <i>Federal People's Republic of Yugoslavia</i>, now Serbia. It is named after the inventor <a href="https://en.wikipedia.org/wiki/Nikola_Tesla" >Nikola Tesla</a>.</p>
      <div>
         <h2>Contents</h2>
         <hr />
         <ol>
            <li><a href="#Orbit">Orbit</a></li>
            <li>
               <a href="#Physical_characteristics">Physical characteristics</a>
               <ul>
                  <li><a href="#Lightcurves">2.1 Lightcurves</a></li>
               </ul>
            </li>
            <li><a href="#Naming">Naming</a></li>
            <li><a href="#References">References</a></li>
            <li><a href="#External_links">External links</a></li>
         </ol>
      </div>
      <h2 id="Orbit">Orbit</h2>
      <hr />
      <p><i>Tesla</i> orbits the Sun in the central main-belt at a distance of 2.3–3.3 AU once every 4 years and 9 months (1,721 days). Its orbit has an eccentricity of 0.18 and an inclination of 8° with respect to the ecliptic. It was first identified as 1938 UE1 at Turku Observatory in 1938, extending the body's observation arc by 14 years prior to its official discovery at Belgrade.</p>
      <h2 id="Physical_characteristics">Physical characteristics</h2>
      <hr />
      <p>In the SMASS taxonomy, <span style="color:red;>Tesla is a dark C-type asteroid</span>. According to the survey carried out by NASA's Wide-field Infrared Survey Explorer with its subsequent NEOWISE mission, <i>Tesla</i> measures 24.37 kilometers in diameter and its surface has a low albedo of 0.050, in correspondence with its carbonaceous composition. A larger diameter estimate of 29 kilometers was obtained in 2008, from an asteroid occultation.</p>
      <h3 id="Lightcurves">Lightcurves</h3>
      <hr />
      <p>As of 2017, <i>Tesla</i> 's rotation period and shape remains unknown.</p>
      <h2 id="Naming">Naming</h2>
      <hr />
      <p>This minor planet was named in memory of Serbian-American physicist, electrical engineer and inventor Nikola Tesla (1856–1943). He is best known for his contributions to the design of the modern alternating current (AC) electricity supply system and radio electro-communications. The lunar crater <i>Tesla</i> is also named in his honor. The approved naming citation was published by the Minor Planet Center on 7 March 1985.</p>
      <h2 id="References">References</h2>
      <hr />
      <ol class="references">
         <li>
            "JPL Small-Body Database Browser: 2244 Tesla (1952 UW1)" (2017-06-05 last obs.). Jet Propulsion Laboratory. Retrieved  3 July 2017.
         </li>
         <li>
            Schmadel, Lutz D. (2007).<i>Dictionary of Minor Planet Names – (2244) Tesla</i>. Springer Berlin Heidelberg . p. 183. ISBN  978-3-540-00238-3. Retrieved 22 March 2017.
         </li>
         <li>
            Masiero, Joseph R.; Grav, T.; Mainzer, A. K.; Nugent, C. R.; Bauer, J. M.; Stevenson, R.;  et al. (August 2014). "Main-belt Asteroids with WISE/NEOWISE: Near-infrared Albedos". <em>The Astrophysical Journal</em>. <strong>791</strong> (2): 11.<i> arXiv:1406.6645 Freely accessible. Bibcode:2014ApJ...791..121M. doi:10.1088/0004-637X/791/2/121. Retrieved 22 March 2017.</i>
         </li>
         <li> <i>"The Occultation Section: OCCULTATION BY (2244) TESLA – 2008 Aug 16". Royal Astronomical Society of New Zealand. 10 July 2008. Archived from the original on 2 December 2008. </i></li>
         <li><em>"2244 Tesla (1952 UW1)". Minor Planet Center. Retrieved 22 March 2017.</em></li>
         <li><i> "LCDB Data for (2244) Tesla". Asteroid Lightcurve Database (LCDB). Retrieved 22 March 2017.</i></li>
         <li><i>"MPC/MPO/MPS Archive". Minor Planet Center. Retrieved 22 March 2017.</i></li>
      </ol>
      <h2 id="External_links">External links</h2>
      <hr />
      <ul>
         <li>Asteroid Lightcurve Database (LCDB)</li>
         <li>Dictionary of Minor Planet Names</li>
         <li>Asteroids and comets rotation curves, CdR – Observatoire de Genève, Raoul Behrend</li>
         <li>Discovery Circumstances: Numbered Minor Planets (1)-(5000) – Minor Planet Center</li>
         <li>
            2244 Tesla at <i>AstDyS-2, Asteroids—Dynamic Site</i>
            <ul>
               <li>Ephemeris &#183; &#32;
                  Observation prediction &#183; &#32;
                  Orbital info  &#183; &#32;
                  Proper elements  &#183; &#32;
                  Observational info
               </li>
            </ul>
         </li>
         <li>
            2244 Tesla at the <small>JPL Small-Body Database</small> 
            <ul>
               <li>
                  Close approach &#183; &#32;
                  Discovery &#183; &#32;
                  Ephemeris &#183; &#32;
                  Orbit diagram &#183; &#32;
                  Orbital elements &#183; &#32;
                  Physical parameters
               </li>
            </ul>
         </li>
      </ul>
   </body>
</html>