@page
@model IglooCoolersModel
@{
}
<h1>2244 Tesla</h1>
<a href="https://en.wikipedia.org/wiki/Igloo_Coolers">https://en.wikipedia.org/wiki/Igloo_Coolers</a>
<hr />


<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <title>Igloo Coolers - Wikipedia</title>
   </head>
   <body>
      <h1>Igloo Coolers</h1>
      <div>From Wikipedia, the free encyclopedia</div>
      <div id="IglooTable">
      <table>
         <caption>Igloo Coolers</caption>
         <tbody>
            <tr>
               <td colspan="2">
                  <a href="https://en.wikipedia.org/wiki/File:Igloo_logo.gif"><img alt="Igloo logo.gif" src="//upload.wikimedia.org/wikipedia/en/0/02/Igloo_logo.gif"/></a>
               </td>
            </tr>
            <tr>
               <th>Type</th>
               <td>
                  <a href="https://en.wikipedia.org/wiki/Subsidiary">Subsidiary</a> of <a href="https://en.wikipedia.org/wiki/ACON_Investments_LLC">ACON Investments LLC</a>
               </td>
            </tr>
            <tr>
               <th>Industry</th>
               <td>
                  <a href="https://en.wikipedia.org/wiki/Coolers">Coolers</a>
               </td>
            </tr>
            <tr>
               <th>Founded</th>
               <td>1947</td>
            </tr>
            <tr>
               <th>Headquarters</th>
               <td>
                  Katy, Texas <a href="https://en.wikipedia.org/wiki/Waller_County,_Texas">Waller County</a>, <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,<a href="https://en.wikipedia.org/wiki/United_States">United States</a>
               </td>
            </tr>
            <tr>
               <th>Website</th>
               <td>
                  <a href="http://www.igloocoolers.com/">www.igloocoolers.com</a>
               </td>
            </tr>
         </tbody>
      </table>
      </div>
      <br/>
      <p><strong>Igloo Coolers</strong> is an <a href="https://en.wikipedia.org/wiki/United_States">American</a> manufacturer of ice chests, drink containers and supporting accessories. It is headquartered in Katy <a href="https://en.wikipedia.org/wiki/Waller_County,_Texas">Waller County</a>, <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>, <a href="https://en.wikipedia.org/wiki/United_States">United States</a>.</p>
      <p>Igloo, originally a metal working shop, began in 1947. In early 1960, Igloo merged with the Production Tooling Company, and the company name changed to Texas Tennessee Industries (TTI). The company's marketing arm was the John T. Everett Company, a company from <a href="https://en.wikipedia.org/wiki/Memphis,_Tennessee">Memphis, Tennessee</a>.</p>
      <p>By 1971, Texas Tennessee Industries, Inc. was planning to change its name to Igloo.</p>
      <p>Started in 1947 as a small metalworking shop that made metal water coolers for blue collar workers, Igloo Products is now a leading ice chest and beverage dispenser manufacturer, perhaps known best for its Playmate brand. The company's first all-plastic ice chest was introduced in 1962. Igloo makes the coolers for personal and industrial use and claims that nearly three in every four US households owns an Igloo cooler. The company's more than 500 products (including personal, beverage, and full-sized coolers) are sold through more than 250 retailers in the US and abroad. Private investment firm Westar Capital purchased Igloo from Brunswick in 2001. <a href="https://en.wikipedia.org/wiki/J.H._Whitney_%26_Company">J.H. Whitney &amp; Company</a> became the new majority owner in 2008. In March 2014, ACON, a Washington, D.C.-based private equity firm, purchased Igloo from J.H. Whitney, which will maintain a small stake in the Company.</p>
      <h2>Corporate affairs</h2>
      <hr/>
      <p>The company's headquarters are in unincorporated Waller County, Texas, United States, west of the city of Katy. The complex has almost 1,400,000 square feet (130,000) of space on a 105-acre (42 ha) plot. announced that it was consolidating its corporate headquarters and its distribution and manufacturing offices in its current headquarters location. The newest buildings of the headquarters complex, built adjacent to an existing Igloo 500,000 square feet (46,000 m) distribution and manufacturing facility used for over 25 years, include a 87,000-square-foot (8,100 m) corporate office and a 805,000 square feet (74,800 m) distribution and manufacturing facility. The two newer buildings were designed by Powers Brown Architecture and built by D.E. Harvey Construction.</p>
      <p>At one time, Igloo had its headquarters in Houston.</p>
      <p>Prior to 2004, Igloo's manufacturing facilities included the existing one in Waller County and one along Beltway 8 in Spring Branch, Houston. The Spring Branch location also housed the company headquarters. In 2004, Igloo announced that it was consolidating its operations to its current complex.</p>
      <h2 id="References">References</h2>
      <hr/>
      <ol>
         <li>"body_about.html." Igloo Corporation. October 18, 2000. Retrieved on March 3, 2011.</li>
         <li>Issue No. 71-51." <em>News Digest</em>. Securities and Exchange Commission. August 5, 1971. Retrieved on March 2, 2011. "TEXAS TENNESSEE INDUSTRIES, INC., 1001 West Belt Drive, <u>Houston, Texas 77024</u>,[...]" and "The company (which expects to change its name to Igloo Corp.)[...]"</li>
         <li>Igloo changes hands again</li>
         <li>Igloo History</li>
         <li>Igloo Worldwide Headquarters Archived 2010-04-21 at the Wayback Machine.." <em>Igloo Corporation</em>. Accessed September 5, 2008. "Igloo Products Corp. 777 Igloo Road Katy, Texas 77494"</li>
         <li>"Igloo consolidating operations in Katy facility." <em>Houston Business Journal</em>. Monday October 18, 2004. Retrieved on March 2, 2011. "1001 W. Sam Houston Parkway North" for the old Houston facility</li>
         <li><em>National Beverage Marketing Directory</em>. Beverage Marketing Corporation, 1987. 676. Retrieved from Google Books on March 2, 2011. "IGLOO CORPORATION 1001 West Belt Drive Houston. TX 77224"</li>
         <li>Boundary Map <i>Spring Branch Management District</i>. Retrieved on December 8, 2009.</li>
         <li>Herman, Erik L. <i>The Houston Job Bank</i>. Adams Media Corporation, 2003. "IGLOO PRODUCTS CORPORATION 1001 West Sam Houston Parkway North, Houston TX 77013." Retrieved on March 3, 2011. ISBN 1-58062-931-8, ISBN 978-1-58062-931-7.</li>
      </ol>
   </body>
</html>