@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
       <title>Home</title>

<body>
<table>
    <thead>
        <tr>
            <th>No.</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a href="IglooCoolers">Igloo Coolers</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><a href="SelfGovernance">Self-governance</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a href="2244Tesla">2244 Tesla</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>