@page
@model SelfGovernanceModel
@{
}

<h1>Self-governance</h1>
<a href="https://en.wikipedia.org/wiki/Self-governance">https://en.wikipedia.org/wiki/Self-governance</a>
<hr />

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8"/>
      <title>Self-governance - Wikipedia</title>
   </head>
   <body>
      <h1>Self-governance</h1>
      <div>From Wikipedia, the free encyclopedia</div>
      <br/>
      <table>
         <tbody>
            <tr>
               <td>Part of a series on</td>
            </tr>
            <tr>
               <th><a href="https://en.wikipedia.org/wiki/Governance">Governance</a></th>
            </tr>
            <tr>
               <th>
                  Models
               </th>
            </tr>
            <tr>
               <td>
                  <ul>
                     <li><a href="https://en.wikipedia.org/wiki/Collaborative_governance">Collaborative</a></li>
                     <li><a href="https://en.wikipedia.org/wiki/Good_governance">Good</a></li>
                     <li><a href="https://en.wikipedia.org/wiki/Multistakeholder_governance_model">Multistakeholder</a></li>
                     <li><a href="https://en.wikipedia.org/wiki/Open-source_governance">Open-source</a></li>
                     <li><a href="https://en.wikipedia.org/wiki/Private_governance">Private</a></li>
                     <li>Self</li>
                  </ul>
               </td>
            </tr>
            <tr>
               <th>
                  By level
               </th>
            </tr>
            <tr>
               <td>
                  <ul>
                     <li>Local</li>
                     <li>Global</li>
                  </ul>
               </td>
            </tr>
            <tr>
               <th>
                  By field
               </th>
            </tr>
            <tr>
               <td>
                  <div>
                     <ul>
                        <li>Climate</li>
                        <li>Clinical</li>
                        <li>Corporate</li>
                        <li>Cultural</li>
                        <li>Data</li>
                        <li>Earth system</li>
                        <li>Ecclesiastical</li>
                        <li>Environmental</li>
                        <li>Higher education</li>
                        <li>Information</li>
                        <li>Network</li>
                        <li>Ocean</li>
                        <li>Political party</li>
                        <li>Project</li>
                        <li>Security sector</li>
                        <li>Self</li>
                        <li>Simulation</li>
                        <li>Service-oriented architecture</li>
                        <li>Soil</li>
                        <li>Technology</li>
                        <li>Transnational</li>
                        <li>Website</li>
                     </ul>
                  </div>
               </td>
            </tr>
            <tr>
               <th>
                  Measures
               </th>
            </tr>
            <tr>
               <td>
                  <ul>
                     <li>World Governance Index</li>
                     <li>Sustainable Governance Indicators</li>
                  </ul>
               </td>
            </tr>
            <tr>
               <th>
                  Related topics
               </th>
            </tr>
            <tr>
               <td>
                  <ul>
                     <li>Chief governance officer</li>
                     <li>Governance, risk management and compliance</li>
                     <li>E-governance</li>
                     <li>Environmental, social and corporate governance</li>
                     <li>Market governance mechanism</li>
                  </ul>
               </td>
            </tr>
         </tbody>
      </table>
      <br/>
      <p><b>Self-governance</b>, <b>self-government</b>, or <b>autonomy</b> is an abstract concept that applies to several scales of <a href="https://en.wikipedia.org/wiki/Organization">organization</a>.</p>
      <p>It may refer to personal conduct or family units or to larger scale activities including professions, industry bodies, religions, political units (usually referred to as local government), including autonomous regions or others within nation-states that enjoy some sovereign rights. It falls within the larger context of governance and principles such as consent of the governed, and may involve non-profit organizations and corporate governance.
         It can be used to describe a person or persons or a group being able to exercise all of the necessary functions of power without intervention from any authority that they cannot themselves alter. In addition to describing personal autonomy, "self-rule" is also associated with contexts in which there is the end of colonial rule, absolute government or monarchy as well as demands for autonomy by religious, ethnic or geographic regions which perceive themselves as being unrepresented or underrepresented in a national government. It is, therefore, a fundamental tenet of republican government and democracy as well as of nationalism. Gandhi's term "swaraj" (see also "satygraha") is a branch of this self-rule ideology.
         Henry David Thoreau was a major proponent of self-rule in lieu of immoral governments.
         Generally when self-governance of nation-states is discussed, it is called national sovereignty, which is an important concept in <a href="https://en.wikipedia.org/wiki/International_law">international law</a>.
      
        
        <dl><strong>Types of Organization</strong>
            <dt>Hybrid organisation</dt>
            <dd>A body that operates in both the public sector and the private sector simultaneously, fulfilling public duties and developing commercial market activities.</dd>
            <dt>Voluntary association</dt>
            <dd>An organisation consisting of volunteers. Such organisations may be able to operate without legal formalities, depending on jurisdiction, including informal clubs.</dd>
        </dl>
      </p>
      <h2>Means of self-governance</h2>
      <hr/>
      <p>This article focuses on the self-governance of professions, industries including unions, and formal or informal political units including ethnic or ethical 'nations' not defined by national borders, and of religious organizations, which have professional and political elements.  There are many historical examples of such organizations or groups, and some, e.g. the <a href="https://en.wikipedia.org/wiki/Roman_Catholic_Church">Roman Catholic Church</a>, the <a href="https://en.wikipedia.org/wiki/Freemasons">Freemasons</a>, the <a href="https://en.wikipedia.org/wiki/Iroquois_Confederacy">Iroquois Confederacy</a>, have histories going back centuries, including vast bodies of precedent and shared culture and knowledge.</p>
      <p>A means of self-governance usually comprises at least the following:</p>
      <ul>
         <li>An ethical code that outlines acceptable behavior within the unit or group, e.g. the Hippocratic Oath of doctors, or established codes of professional ethics.</li>
         <li>Some set of criteria whereby an outside legal code or political authority can be called in&#160;– unless the group itself opposes such authority, e.g., organized crime groups which are self-governing almost by definition.</li>
         <li>A means of ensuring that outside authority does not become involved unless and until these criteria are satisfied, usually a code of silence regarding the activities of insiders when conversing with outsiders.</li>
         <li>A process for registering and resolving grievances, e.g. medical malpractice, union procedures, and for achieving closure regarding them.</li>
         <li>The power to discipline its own members, ranging from fines and censure up to and including killing them, e.g. the Irish Republican Army, mafia or <a href="https://en.wikipedia.org/wiki/Tong_(organization)">Tong</a> groups, and militaries (see Uniform Code of Military Justice)</li>
         <li>A means of controlling parties, factions, tendencies or other sub-groups that seek to break away and form new entities that would compete with the group or organization that already exists.</li>
      </ul>
      <h2>References</h2>
      <hr/>
      <ul>
         <li>Bird, C. (2000). "The Possibility of Self-Government". <em>The American Political Science Review</em>, <strong>94</strong>(3), 563–577.</li>
      </ul>
   </body>
</html>